.nav {
  grid-area: n;
  background-color: #1A1A1A;
  padding: 20px;
  height: 100%;
  min-height: 100vh;
  min-width: 200px;
}

.item a{
  color: #E5E5E5;
  text-decoration: none;
  margin: 20px 0;
  display: block;
}

.item a.active {
  color: goldenrod;
  font-weight: 600;
}

.item a:hover {
  color: #F15543;
}

