.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
  border-right: 1px solid #E5E5E5;
}

.dialog {
  margin: 10px 0;
  position: relative;

}

.dialog img {
  width: 50px;
  border-radius: 50%;

}

.link {
  text-decoration: none;
  color: #1A1A1A;
  position: absolute;
  margin: 20px 10px 0;
}

.link:hover {
  color: #f15543;
  font-weight: 600;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.active {
  color: gold;
}

.messages {
  padding: 10px;
}

.messages .message,
.newMessageArea {
  margin: 20px;
}

.newMessageArea textarea {
  width: 500px;
  height: 100px;
  border: none;
  box-shadow: #daa520b3 0px 0px 0px 3px;
  margin-bottom: 20px;
  resize: none;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 5px 10px;
  font-family: 'Raleway', sans-serif;
}

.newMessageArea textarea:focus {
  outline: none;
}

.newMessageArea button {
  background-color: #f8bc24;
  color: #FFFFFF;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
}

.newMessageArea button:hover {
  background-color: #daa520;
  transition: all 0.2s ease;
  cursor: pointer;
}
