.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
  border-right: 1px solid #E5E5E5;
}

.dialog {
  margin: 10px 0;
  position: relative;

}

.dialog img {
  width: 50px;
  border-radius: 50%;

}

.link {
  text-decoration: none;
  color: #1A1A1A;
  position: absolute;
  margin: 20px 10px 0;
}

.link:hover {
  color: #f15543;
  font-weight: 600;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.active {
  color: gold;
}

.messages {
  padding: 10px;
}

.messages .message {
  margin: 20px;
}