.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

/* .dialogItems .dialog {

} */
.link {
  text-decoration: none;
  display: block;
  margin: 20px;
  color: #1A1A1A;
}
.link:hover {
  color: #F15543;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.active {
  color: gold;
}

.messages {
  padding: 10px;
}

.messages .message {
  margin: 20px;
}